In [1]:
import pandas  as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import selenium
import feedparser
from bs4 import BeautifulSoup as bs
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import requests as req
from bs4 import BeautifulSoup as bs    # ambos alias son cosa mia
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

In [2]:
def machinelearning(feature):
    global column
    global predictdataraw
    global predictdata
    column = pd.read_csv(f'{feature}_AI_onlyv.csv').drop(['Unnamed: 0'], axis=1)
    predictdataraw = pd.read_csv(f'{feature}_AI_prediction.csv')
    predictdata = pd.read_csv(f'{feature}_AI_prediction.csv').drop(['Unnamed: 0'], axis=1)

In [10]:
machinelearning('planet_density')

In [11]:
predictdata.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   planet_density  0 non-null      float64
 1   planet_radius   96 non-null     float64
 2   planet_mass     92 non-null     float64
dtypes: float64(3)
memory usage: 2.8 KB

In [12]:
#pon aqui 
predictdata.drop(['planet_density'] ,axis=1, inplace=True)
predictdata.dropna(inplace=True)

In [13]:
predictdata.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81 entries, 0 to 111
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   planet_radius  81 non-null     float64
 1   planet_mass    81 non-null     float64
dtypes: float64(2)
memory usage: 1.9 KB

In [14]:
column.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5152 entries, 0 to 5151
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   planet_density  5152 non-null   float64
 1   planet_radius   5152 non-null   float64
 2   planet_mass     5152 non-null   float64
dtypes: float64(3)
memory usage: 120.9 KB

In [15]:
#pon aqui 
X = column.drop(['planet_density'],axis=1)
y = column['planet_density']
X

      planet_radius  planet_mass
0             12.10   6165.60000
1             12.30   4684.81420
2             12.90   1525.50000
3             12.60   2586.74645
4             13.50    565.73740
...             ...          ...
5147           2.70      7.75000
5148           4.04     15.40000
5149           2.20      5.48000
5150           4.92     21.50000
5151           3.85     14.20000

[5152 rows x 2 columns]

In [16]:
y

0       19.100
1       13.800
2        3.900
3        7.110
4        1.260
         ...
5147     2.160
5148     1.280
5149     2.830
5150     0.992
5151     1.370
Name: planet_density, Length: 5152, dtype: float64

In [17]:
def modelexecution(X, y, depth):
    X = StandardScaler().fit_transform(X)
    global y_test
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
    global model1
    model1 = RandomForestRegressor(n_estimators=200, max_depth=depth, random_state=42)
    model1.fit(X_train, y_train)
    global y_pred_rf
    y_pred_rf = model1.predict(X_test)
    global MSE_RF
    MSE_RF = mean_squared_error(y_test, y_pred_rf, squared=False)
    global model2
    model2 = LinearRegression()
    model2.fit(X_train, y_train)
    global y_pred_lr
    y_pred_lr = model2.predict(X_test)
    global MSE_LR
    MSE_LR = mean_squared_error(y_test, y_pred_lr, squared=False)
    return MSE_LR, MSE_RF, y_test

In [18]:
modelexecution(X, y, 4)

(5.348706356275591,
 3.713585141119079,
 1879    0.855
 1417    4.600
 2968    3.860
 1020    0.966
 4724    3.370
         ...
 1023    1.760
 4570    5.770
 2549    0.643
 5034    3.660
 4174    5.550
 Name: planet_density, Length: 1546, dtype: float64)

In [19]:
y_test[:10]

1879    0.855
1417    4.600
2968    3.860
1020    0.966
4724    3.370
279     3.600
2170    1.470
586     1.590
2991    4.150
2201    0.856
Name: planet_density, dtype: float64

In [20]:
#pon aqui 
mean = column['planet_radius'].mean()
mean

5.685127911490664

In [21]:
for i in y_pred_rf[:10]:
    print('{:.2f}'.format(i))

1.62
2.11
4.39
1.63
4.20
3.34
1.62
53.21
4.41
1.62

In [27]:
final_pred = model1.predict(predictdata)

In [28]:
for i in final_pred[:]:
    print('{:.2f}'.format(i))

34.78
25.31
44.72
46.21
45.02
25.31
35.10
34.78
34.78
25.31
25.31
34.88
45.89
44.72
44.72
34.07
25.31
25.31
34.78
43.22
43.22
45.52
34.88
34.68
46.70
34.88
46.77
44.82
34.78
34.88
25.31
25.31
34.68
46.82
24.44
40.81
24.47
40.81
40.81
45.59
46.80
44.72
43.23
46.21
44.82
40.81
44.96
34.88
44.72
46.39
34.88
44.72
34.88
35.10
34.88
46.74
47.83
44.62
25.31
43.50
40.81
24.25
34.78
44.82
43.84
34.88
34.88
34.78
34.78
34.88
34.78
34.78
34.78
34.88
34.88
34.88
46.74
25.31
24.47
43.82
34.97

In [29]:
predictdataraw

     Unnamed: 0  planet_density  planet_radius  planet_mass  nulltest
0           127             NaN          5.700    413.17900     False
1           166             NaN         12.442   4131.79000     False
2           173             NaN          2.025     11.70000     False
8           875             NaN          1.610     16.17000     False
9           876             NaN          1.310      7.30000     False
..          ...             ...            ...          ...       ...
106        4063             NaN          2.180      8.70000     False
108        4828             NaN          9.960   1462.01067     False
109        5177             NaN          0.865      3.08000     False
110        5178             NaN          1.003     14.30000     False
111        5264             NaN          1.900    254.30000     False

[96 rows x 5 columns]

In [30]:
#pon aqui la mas corta feature
predictdataraw['nulltest'] = predictdataraw['planet_mass'].isnull()
algo = predictdataraw[predictdataraw['nulltest'] == True]
len(algo)

15

In [31]:
predictdataraw.drop(algo.index, inplace=True)
predictdataraw['predicted'] = final_pred
predictdataraw

,Unnamed: 0,planet_density,planet_radius,planet_mass,nulltest,predicted
0,127,NaN,5.700,413.17900,False,34.781460
1,166,NaN,12.442,4131.79000,False,25.311073
2,173,NaN,2.025,11.70000,False,44.721301
8,875,NaN,1.610,16.17000,False,46.208521
9,876,NaN,1.310,7.30000,False,45.020866
...,...,...,...,...,...,...
106,4063,NaN,2.180,8.70000,False,46.742091
108,4828,NaN,9.960,1462.01067,False,25.311073
109,5177,NaN,0.865,3.08000,False,24.473139
110,5178,NaN,1.003,14.30000,False,43.815226
111,5264,NaN,1.900,254.30000,False,34.972449

In [32]:
finaldata = predictdataraw[['Unnamed: 0', 'predicted']]
finaldata

     Unnamed: 0  predicted
0           127  34.781460
1           166  25.311073
2           173  44.721301
8           875  46.208521
9           876  45.020866
..          ...        ...
106        4063  46.742091
108        4828  25.311073
109        5177  24.473139
110        5178  43.815226
111        5264  34.972449

[81 rows x 2 columns]

In [33]:
rows = list(finaldata['Unnamed: 0'])
rows2 = list(finaldata['predicted'])
nextdata = pd.read_csv('nextdata.csv')
nextdata

,Unnamed: 0,planet_name,host_name,orbital_period_[days],orbit_semi-major_axis_[au]),planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k],ratio_of_semi-major_axis_to_stellar_radius,stellar_effective_temperature_[k],stellar_radius_[solar_radius],stellar_mass_[solar_mass],stellar_metallicity_[dex],distance_[pc],number_of_planets,insolation_flux_earth,stellar_surface_gravity,stellar_age_[gyr]
0,0,11 Com b,11 Com,326.030000,1.290000,12.10,6165.60000,19.100000,0.231000,,14.599543,4742.00,19.00,2.70,-0.350,93.1846000,1,,2.31,
1,1,11 UMi b,11 UMi,516.219970,1.530000,12.30,4684.81420,13.800000,0.080000,,11.043941,4213.00,29.79,2.78,-0.020,125.3210000,1,,1.93,1.560
2,2,14 And b,14 And,185.840000,0.830000,12.90,1525.50000,3.900000,0.000000,,16.225144,4813.00,11.00,2.20,-0.240,75.4392000,1,,2.63,4.500
3,3,14 Her b,14 Her,1765.038901,2.773069,12.60,2586.74645,7.110000,0.372689,,641.181348,5338.00,0.93,0.91,0.405,17.9323000,2,,4.45,3.900
4,4,16 Cyg B b,16 Cyg B,798.500000,1.660000,13.50,565.73740,1.260000,0.680000,,315.887759,5750.00,1.13,1.08,0.060,21.1397000,1,,4.36,7.400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5260,5260,Kepler-228 d,Kepler-228,11.094286,0.101000,4.04,15.40000,1.280000,0.000000,835,10.900000,6043.00,1.01,0.95,-0.030,1644.6100000,3,122.78,4.47,0.300
5261,5261,Kepler-229 b,Kepler-229,6.252972,0.062000,2.20,5.48000,2.830000,0.000000,823,18.940000,5120.00,0.73,0.80,0.160,826.2650000,3,76.22,4.63,1.100
5262,5262,Kepler-229 c,Kepler-229,16.068638,0.117000,4.92,21.50000,0.992000,0.000000,600,36.850000,5120.00,0.73,0.80,0.160,826.2650000,3,21.64,4.63,1.100
5263,5263,Kepler-229 d,Kepler-229,41.194912,0.220000,3.85,14.20000,1.370000,0.000000,439,70.750000,5120.00,0.73,0.80,0.160,826.2650000,3,6.16,4.63,1.100
5264,5264,Kepler-23 b,Kepler-23,7.107300,0.075000,1.90,254.30000,,0.060000,1157,10.643000,5760.00,1.52,1.11,-0.090,835.7560000,3,446.11,4.00,6.000

In [34]:
filtered = nextdata[nextdata['Unnamed: 0'].isin(rows)]
filtered

,Unnamed: 0,planet_name,host_name,orbital_period_[days],orbit_semi-major_axis_[au]),planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k],ratio_of_semi-major_axis_to_stellar_radius,stellar_effective_temperature_[k],stellar_radius_[solar_radius],stellar_mass_[solar_mass],stellar_metallicity_[dex],distance_[pc],number_of_planets,insolation_flux_earth,stellar_surface_gravity,stellar_age_[gyr]
127,127,DS Tuc A b,DS Tuc A,8.138268,288.6525,5.700,413.17900,,0.000000,850,20.350000,5428.00,0.96,1.01,0.000,44.0622000,1,115.83,4.60,0.045
166,166,EPIC 248847494 b,EPIC 248847494,3650.000000,4.5000,12.442,4131.79000,,0.000000,183,358.386715,4898.00,2.70,0.90,-0.230,551.8860000,1,0.19,3.52,
173,173,G 9-40 b,G 9-40,5.746007,0.0385,2.025,11.70000,,0.000000,456,27.000000,3348.00,0.31,0.29,0.040,27.9276000,1,7.20,4.93,9.900
875,875,HD 219134 d,HD 219134,46.859000,0.2370,1.610,16.17000,,0.138000,410,65.336655,4699.00,0.78,0.81,0.110,6.5312700,6,4.72,4.57,11.000
876,876,HD 219134 f,HD 219134,22.717000,0.1463,1.310,7.30000,,0.148000,523,40.332290,4699.00,0.78,0.81,0.110,6.5312700,6,12.38,4.57,11.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4063,4063,Kepler-113 c,Kepler-113,8.925070,0.0763,2.180,8.70000,,0.000000,628,15.100000,4725.00,0.69,0.75,0.050,262.3510000,2,45.60,4.64,6.890
4828,4828,Kepler-1708 b,Kepler-1708,737.113100,1.6400,9.960,1462.01067,,0.400000,,317.900000,6157.00,1.12,1.09,0.000,1666.6900000,1,0.56,4.37,3.160
5177,5177,Kepler-20 e,Kepler-20,6.098523,0.0639,0.865,3.08000,,0.000000,1040,14.260000,5495.00,0.96,0.95,0.070,282.5630000,6,166.00,4.45,7.600
5178,5178,Kepler-20 f,Kepler-20,19.577585,0.1396,1.003,14.30000,,0.000000,705,31.150000,5495.00,0.96,0.95,0.070,282.5630000,6,35.07,4.45,7.600
5264,5264,Kepler-23 b,Kepler-23,7.107300,0.0750,1.900,254.30000,,0.060000,1157,10.643000,5760.00,1.52,1.11,-0.090,835.7560000,3,446.11,4.00,6.000

In [35]:
#pon aqui 
nextdata.loc[filtered.index, 'planet_density'] = rows2
nextdata['planet_density'] = nextdata['planet_density'].replace(' ', np.nan)
nextdata['planet_density'] = nextdata['planet_density'].astype(float)

In [36]:
nextdata.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5265 entries, 0 to 5264
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Unnamed: 0                                  5265 non-null   int64
 1   planet_name                                 5265 non-null   object
 2   host_name                                   5265 non-null   object
 3   orbital_period_[days]                       5261 non-null   float64
 4   orbit_semi-major_axis_[au])                 5076 non-null   float64
 5   planet_radius                               5260 non-null   float64
 6   planet_mass                                 5260 non-null   float64
 7   planet_density                              5234 non-null   float64
 8   eccentricity                                5265 non-null   object
 9   equilibrium_temperature_[k]                 5265 non-null   object
 10  ratio_of_semi-major_axis_to_stellar_radius  4993 non-null   float64
 11  stellar_effective_temperature_[k]           5265 non-null   object
 12  stellar_radius_[solar_radius]               5265 non-null   object
 13  stellar_mass_[solar_mass]                   5265 non-null   object
 14  stellar_metallicity_[dex]                   5265 non-null   object
 15  distance_[pc]                               5265 non-null   object
 16  number_of_planets                           5265 non-null   int64
 17  insolation_flux_earth                       5265 non-null   object
 18  stellar_surface_gravity                     5265 non-null   object
 19  stellar_age_[gyr]                           5265 non-null   object
dtypes: float64(6), int64(2), object(12)
memory usage: 4.1 MB

In [37]:
nextdata.drop(['Unnamed: 0'], axis=1, inplace=True)
nextdata.to_csv('nextdata.csv')

In [38]:
#pon aqui
nextdata.to_csv('planet_density_ml_backup.csv')