In [1]:
import pandas  as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import selenium
import feedparser
from bs4 import BeautifulSoup as bs
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import requests as req
from bs4 import BeautifulSoup as bs    # ambos alias son cosa mia
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

In [2]:
def machinelearning(feature):
    global column
    global predictdataraw
    global predictdata
    column = pd.read_csv(f'{feature}_AI_onlyv.csv').drop(['Unnamed: 0'], axis=1)
    predictdataraw = pd.read_csv(f'{feature}_AI_prediction.csv')
    predictdata = pd.read_csv(f'{feature}_AI_prediction.csv').drop(['Unnamed: 0'], axis=1)

In [ ]:
predictdataraw

In [3]:
machinelearning('stellar_age_[gyr]')

In [4]:
predictdata.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1127 entries, 0 to 1126
Data columns (total 3 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   stellar_age_[gyr]                  0 non-null      float64
 1   stellar_effective_temperature_[k]  1127 non-null   float64
 2   stellar_mass_[solar_mass]          1127 non-null   float64
dtypes: float64(3)
memory usage: 26.5 KB

In [5]:
#pon aqui 
predictdata.drop(['stellar_age_[gyr]'] ,axis=1, inplace=True)
predictdata.dropna(inplace=True)

In [6]:
predictdata.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1127 entries, 0 to 1126
Data columns (total 2 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   stellar_effective_temperature_[k]  1127 non-null   float64
 1   stellar_mass_[solar_mass]          1127 non-null   float64
dtypes: float64(2)
memory usage: 17.7 KB

In [7]:
column.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4134 entries, 0 to 4133
Data columns (total 3 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   stellar_age_[gyr]                  4134 non-null   float64
 1   stellar_effective_temperature_[k]  4134 non-null   float64
 2   stellar_mass_[solar_mass]          4134 non-null   float64
dtypes: float64(3)
memory usage: 97.0 KB

In [10]:
#pon aqui 
X = column.drop(['stellar_age_[gyr]'],axis=1)
y = column['stellar_age_[gyr]']
X

      stellar_effective_temperature_[k]  stellar_mass_[solar_mass]
0                                4213.0                       2.78
1                                4813.0                       2.20
2                                5338.0                       0.91
3                                5750.0                       1.08
4                                4157.0                       1.22
...                                 ...                        ...
4129                             6043.0                       0.95
4130                             5120.0                       0.80
4131                             5120.0                       0.80
4132                             5120.0                       0.80
4133                             5760.0                       1.11

[4134 rows x 2 columns]

In [11]:
y

0       1.56
1       4.50
2       3.90
3       7.40
4       5.13
        ...
4129    0.30
4130    1.10
4131    1.10
4132    1.10
4133    6.00
Name: stellar_age_[gyr], Length: 4134, dtype: float64

In [12]:
def modelexecution(X, y, depth):
    X = StandardScaler().fit_transform(X)
    global y_test
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
    global model1
    model1 = RandomForestRegressor(n_estimators=200, max_depth=depth, random_state=42)
    model1.fit(X_train, y_train)
    global y_pred_rf
    y_pred_rf = model1.predict(X_test)
    global MSE_RF
    MSE_RF = mean_squared_error(y_test, y_pred_rf, squared=False)
    global model2
    model2 = LinearRegression()
    model2.fit(X_train, y_train)
    global y_pred_lr
    y_pred_lr = model2.predict(X_test)
    global MSE_LR
    MSE_LR = mean_squared_error(y_test, y_pred_lr, squared=False)
    return MSE_LR, MSE_RF, y_test

In [13]:
modelexecution(X, y, 6)

(3.04248331341299,
 2.801961946212611,
 2924     3.630
 1210     0.180
 2577    10.470
 1752     0.014
 1095     0.500
          ...
 3264     2.690
 3004     4.900
 2359     2.880
 3670     3.020
 3026     4.170
 Name: stellar_age_[gyr], Length: 1241, dtype: float64)

In [14]:
y_test[:10]

2924     3.630
1210     0.180
2577    10.470
1752     0.014
1095     0.500
2615     3.470
1720     4.067
298      0.310
912      2.290
2529     1.010
Name: stellar_age_[gyr], dtype: float64

In [15]:
#pon aqui 
mean = column['stellar_age_[gyr]'].mean()
mean

4.353777455249126

In [16]:
for i in y_pred_rf[:10]:
    print('{:.2f}'.format(i))

5.36
5.88
5.14
0.31
1.66
5.42
3.30
0.35
2.69
6.35

In [17]:
final_pred = model1.predict(predictdata)

In [18]:
for i in final_pred[:]:
    print('{:.2f}'.format(i))

0.19
0.15
0.20
0.20
0.15
0.12
0.19
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.14
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.22
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.14
0.14
0.37
0.37
0.15
0.15
0.25
0.25
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.14
0.14
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.25
0.25
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.14
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.14
0.15
0.15
0.15
0.15
0.15
0.14
0.14
0.15
0.15
0.15
0.15
0.15
0.15
0.25
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.35
0.15
0.15
0.19
0.15
0.15
0.15
0.15
0.34
0.15
0.15
0.15
0.18
0.15
0.15
0.15
0.15
0.15
0.15
0.16
0.15
0.15
0.15
0.41
0.15
0.15
0.33
0.19
0.41
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.40
0.15
0.15
0.35
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.41
0.16
0.16
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.16
0.41
0.38
0.15
0.15
0.15
0.34
0.15
0.15
0.15
0.15
0.19
0.19
0.15
0.34
0.15
0.15
0.15
0.15
0.16
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.35
0.15
0.15
0.15
0.40
0.15
0.15
0.15
0.15
0.15
0.15
0.35
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.21
0.15
0.15
0.15
0.15
0.15
0.15
0.41
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.32
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.41
0.15
0.41
0.15
0.33
0.16
0.35
0.12
0.19
0.15
0.19
0.40
0.25
0.14
0.14
0.14
0.15
0.15
0.15
0.15
0.15
0.35
0.15
0.15
0.15
0.40
0.33
0.15
0.15
0.34
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.33
0.15
0.15
0.15
0.15
0.15
0.15
0.14
0.15
0.25
0.15
0.15
0.15
0.15
0.34
0.15
0.14
0.15
0.15
0.25
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.41
0.15
0.15
0.14
0.15
0.15
0.14
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.16
0.15
0.25
0.15
0.37
0.16
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.33
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.14
0.14
0.15
0.25
0.15
0.14
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.16
0.41
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.41
0.19
0.15
0.20
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.40
0.15
0.15
0.20
0.19
0.21
0.21
0.15
0.41
0.15
0.18
0.15
0.15
0.41
0.15
0.15
0.15
0.15
0.15
0.15
0.33
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.16
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.16
0.16
0.15
0.15
0.15
0.15
0.15
0.15
0.32
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.34
0.15
0.14
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.37
0.15
0.15
0.15
0.15
0.14
0.15
0.16
0.15
0.15
0.14
0.15
0.33
0.16
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.41
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.34
0.34
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.14
0.14
0.14
0.14
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.14
0.15
0.15
0.15
0.14
0.32
0.35
0.19
0.41
0.15
0.15
0.15
0.15
0.34
0.15
0.15
0.15
0.15
0.41
0.35
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.14
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.25
0.25
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.16
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.16
0.16
0.15
0.15
0.15
0.15
0.15
0.34
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.34
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15
0.15

In [19]:
len(final_pred)

1127

In [20]:
predictdataraw

,Unnamed: 0,stellar_age_[gyr],stellar_effective_temperature_[k],stellar_mass_[solar_mass]
0,0,NaN,4742.0,2.70
1,17,NaN,29564.0,0.48
2,39,NaN,4846.0,2.49
3,41,NaN,4785.0,2.40
4,49,NaN,4864.0,0.49
...,...,...,...,...
1122,5158,NaN,5852.0,0.93
1123,5159,NaN,5009.0,0.80
1124,5160,NaN,4970.0,1.00
1125,5161,NaN,5008.0,0.84
1126,5162,NaN,6046.0,1.11

In [21]:
predictdata.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1127 entries, 0 to 1126
Data columns (total 2 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   stellar_effective_temperature_[k]  1127 non-null   float64
 1   stellar_mass_[solar_mass]          1127 non-null   float64
dtypes: float64(2)
memory usage: 17.7 KB

In [22]:
#pon aqui la mas corta feature
algo = predictdataraw[predictdataraw['stellar_mass_[solar_mass]'].isnull() == True ]
len(algo)

0

In [23]:
predictdataraw

,Unnamed: 0,stellar_age_[gyr],stellar_effective_temperature_[k],stellar_mass_[solar_mass]
0,0,NaN,4742.0,2.70
1,17,NaN,29564.0,0.48
2,39,NaN,4846.0,2.49
3,41,NaN,4785.0,2.40
4,49,NaN,4864.0,0.49
...,...,...,...,...
1122,5158,NaN,5852.0,0.93
1123,5159,NaN,5009.0,0.80
1124,5160,NaN,4970.0,1.00
1125,5161,NaN,5008.0,0.84
1126,5162,NaN,6046.0,1.11

In [24]:
predictdataraw.drop(algo.index, inplace=True)
predictdataraw['predicted'] = final_pred
predictdataraw

,Unnamed: 0,stellar_age_[gyr],stellar_effective_temperature_[k],stellar_mass_[solar_mass],predicted
0,0,NaN,4742.0,2.70,0.194501
1,17,NaN,29564.0,0.48,0.148166
2,39,NaN,4846.0,2.49,0.198971
3,41,NaN,4785.0,2.40,0.198971
4,49,NaN,4864.0,0.49,0.148166
...,...,...,...,...,...
1122,5158,NaN,5852.0,0.93,0.150295
1123,5159,NaN,5009.0,0.80,0.150295
1124,5160,NaN,4970.0,1.00,0.150295
1125,5161,NaN,5008.0,0.84,0.150295
1126,5162,NaN,6046.0,1.11,0.150203

In [25]:
finaldata = predictdataraw[['Unnamed: 0', 'predicted']]
finaldata

      Unnamed: 0  predicted
0              0   0.194501
1             17   0.148166
2             39   0.198971
3             41   0.198971
4             49   0.148166
...          ...        ...
1122        5158   0.150295
1123        5159   0.150295
1124        5160   0.150295
1125        5161   0.150295
1126        5162   0.150203

[1127 rows x 2 columns]

In [26]:
rows = list(finaldata['Unnamed: 0'])
rows2 = list(finaldata['predicted'])
nextdata = pd.read_csv('nextdata.csv')
nextdata

,Unnamed: 0,planet_name,host_name,orbital_period_[days],orbit_semi-major_axis_[au]),planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k],ratio_of_semi-major_axis_to_stellar_radius,stellar_effective_temperature_[k],stellar_radius_[solar_radius],stellar_mass_[solar_mass],stellar_metallicity_[dex],distance_[pc],number_of_planets,insolation_flux_earth,stellar_surface_gravity,stellar_age_[gyr]
0,0,11 Com b,11 Com,326.030000,1.290000,12.10,6165.60000,19.100000,0.231000,313.321965,14.599543,4742.0,19.00,2.70,-0.350,93.1846000,1,31379.795326,2.31,
1,1,11 UMi b,11 UMi,516.219970,1.530000,12.30,4684.81420,13.800000,0.080000,313.321965,11.043941,4213.0,29.79,2.78,-0.020,125.3210000,1,31379.795326,1.93,1.560
2,2,14 And b,14 And,185.840000,0.830000,12.90,1525.50000,3.900000,0.000000,313.321965,16.225144,4813.0,11.00,2.20,-0.240,75.4392000,1,31379.795326,2.63,4.500
3,3,14 Her b,14 Her,1765.038901,2.773069,12.60,2586.74645,7.110000,0.372689,308.484799,641.181348,5338.0,0.93,0.91,0.405,17.9323000,2,29290.077908,4.45,3.900
4,4,16 Cyg B b,16 Cyg B,798.500000,1.660000,13.50,565.73740,1.260000,0.680000,311.602502,315.887759,5750.0,1.13,1.08,0.060,21.1397000,1,29306.735908,4.36,7.400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5260,5260,Kepler-228 d,Kepler-228,11.094286,0.101000,4.04,15.40000,1.280000,0.000000,835.000000,10.900000,6043.0,1.01,0.95,-0.030,1644.6100000,3,122.780000,4.47,0.300
5261,5261,Kepler-229 b,Kepler-229,6.252972,0.062000,2.20,5.48000,2.830000,0.000000,823.000000,18.940000,5120.0,0.73,0.80,0.160,826.2650000,3,76.220000,4.63,1.100
5262,5262,Kepler-229 c,Kepler-229,16.068638,0.117000,4.92,21.50000,0.992000,0.000000,600.000000,36.850000,5120.0,0.73,0.80,0.160,826.2650000,3,21.640000,4.63,1.100
5263,5263,Kepler-229 d,Kepler-229,41.194912,0.220000,3.85,14.20000,1.370000,0.000000,439.000000,70.750000,5120.0,0.73,0.80,0.160,826.2650000,3,6.160000,4.63,1.100
5264,5264,Kepler-23 b,Kepler-23,7.107300,0.075000,1.90,254.30000,34.972449,0.060000,1157.000000,10.643000,5760.0,1.52,1.11,-0.090,835.7560000,3,446.110000,4.00,6.000

In [27]:
filtered = nextdata[nextdata['Unnamed: 0'].isin(rows)]
filtered

,Unnamed: 0,planet_name,host_name,orbital_period_[days],orbit_semi-major_axis_[au]),planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k],ratio_of_semi-major_axis_to_stellar_radius,stellar_effective_temperature_[k],stellar_radius_[solar_radius],stellar_mass_[solar_mass],stellar_metallicity_[dex],distance_[pc],number_of_planets,insolation_flux_earth,stellar_surface_gravity,stellar_age_[gyr]
0,0,11 Com b,11 Com,326.030000,1.2900,12.100,6165.6000,19.100,0.231000,313.321965,14.599543,4742.0,19.00,2.70,-0.350,93.1846000,1,31379.795326,2.31,
17,17,2MASS J19383260+4603591 b,2MASS J19383260+4603591,406.000000,0.9200,13.400,603.8770,1.380,0.330000,298.275898,989.147333,29564.0,0.20,0.48,-0.092,396.3320000,3,29303.350885,5.51,
39,39,75 Cet b,75 Cet,691.900000,2.1000,13.100,953.4900,2.330,0.117000,313.321965,43.006406,4846.0,10.50,2.49,0.000,82.9613000,1,31379.795326,2.63,
41,41,81 Cet b,81 Cet,952.700000,2.5000,12.800,1684.4000,4.410,0.206000,309.291012,48.870916,4785.0,11.00,2.40,-0.060,101.2600000,1,31379.795326,2.35,
49,49,BD+14 4559 b,BD+14 4559,268.940000,0.7800,13.800,330.5432,0.691,0.290000,311.602502,195.029050,4864.0,0.86,0.49,0.170,49.3520000,1,29290.077908,4.26,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5158,5158,Kepler-1965 b,Kepler-1965,41.868698,0.2301,1.354,2.4000,5.310,0.000000,492.000000,23.200000,5852.0,0.84,0.93,-0.300,521.7910000,1,13.890000,4.56,
5159,5159,Kepler-1966 b,Kepler-1966,8.617430,0.0763,1.105,1.3900,5.660,0.000000,733.000000,24.500000,5009.0,0.84,0.80,0.160,484.6010000,1,68.280000,4.49,
5160,5160,Kepler-1967 b,Kepler-1967,7.281690,0.0735,0.730,0.3150,4.450,0.000000,1086.000000,10.880000,4970.0,1.81,1.00,0.320,249.1020000,1,329.680000,3.92,
5161,5161,Kepler-1968 b,Kepler-1968,7.281100,0.0696,1.500,2.8600,4.660,0.000000,744.000000,20.720000,5008.0,0.79,0.84,0.180,750.9300000,1,72.160000,4.57,
5162,5162,Kepler-1969 b,Kepler-1969,6.647520,0.0717,1.682,3.4700,4.010,0.000000,999.000000,25.600000,6046.0,1.01,1.11,0.070,1204.5400000,1,235.890000,4.48,

In [28]:
#pon aqui 
nextdata.loc[filtered.index, 'stellar_age_[gyr]'] = rows2
nextdata['stellar_age_[gyr]'] = nextdata['stellar_age_[gyr]'].replace(' ', np.nan)
nextdata['stellar_age_[gyr]'] = nextdata['stellar_age_[gyr]'].astype(float)

In [29]:
nextdata.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5265 entries, 0 to 5264
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Unnamed: 0                                  5265 non-null   int64
 1   planet_name                                 5265 non-null   object
 2   host_name                                   5265 non-null   object
 3   orbital_period_[days]                       5261 non-null   float64
 4   orbit_semi-major_axis_[au])                 5076 non-null   float64
 5   planet_radius                               5260 non-null   float64
 6   planet_mass                                 5260 non-null   float64
 7   planet_density                              5234 non-null   float64
 8   eccentricity                                5265 non-null   object
 9   equilibrium_temperature_[k]                 4867 non-null   float64
 10  ratio_of_semi-major_axis_to_stellar_radius  4993 non-null   float64
 11  stellar_effective_temperature_[k]           5265 non-null   float64
 12  stellar_radius_[solar_radius]               5265 non-null   float64
 13  stellar_mass_[solar_mass]                   5261 non-null   float64
 14  stellar_metallicity_[dex]                   5265 non-null   object
 15  distance_[pc]                               5265 non-null   object
 16  number_of_planets                           5265 non-null   int64
 17  insolation_flux_earth                       4867 non-null   float64
 18  stellar_surface_gravity                     5237 non-null   float64
 19  stellar_age_[gyr]                           5265 non-null   float64
dtypes: float64(13), int64(2), object(5)
memory usage: 2.3 MB

In [30]:
nextdata.drop(['Unnamed: 0'], axis=1, inplace=True)
nextdata.to_csv('nextdata.csv')

In [31]:
#pon aqui
nextdata.to_csv('stellar_age_[gyr]_backup.csv')